@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.page-main {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase; 
}

.hotel-button {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    background-color: #756257;
    justify-content: flex-end;
    margin-top: 31px;
    width: 151px;
    margin-left: 36px;
    border-radius: 4px;
}

.hotel-card-button {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -36px;
    width: 160px;
    margin-left: 195px;
    border-radius: 4px;
}

.hotel-button-accept{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: flex-end;
    background-color:#7DB54F;
    margin-top: -36px;
    width: 160px;
    margin-left: 195px;
    border-radius: 4px;
}



.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0;
}

.navigation {
    display: flex;
}


.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 450px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.navigation-link {
    display: block;
    padding: 19px 33px;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
    min-width: 18px;
    min-height: 22px;  
    align-items: center;
    align-content: center;
}

.navigation-link-current-main {
    padding: 0; 
    padding-top: 19px;
}

.navigation-item-current-main {
    width: 70px;
    border-bottom:2px solid #756257;
    margin-left: 33px;
    margin-right: 33px;
}

.navigation-item-current-hostel{
    width: 93px;
    margin-left: 33px;
    border-bottom:2px solid #756257;
}

.navigation-link-current-hostel {
    padding: 0;
    padding-top: 19px;
}

.main-header-logo {
    position: absolute;
    margin-left: 531px;
    height: 70px;
}

.place-button{
    padding: 0px;
    width: 160px;
    height: 37px;
    color: #FFFFFF;
    text-align: center;
    background-color: #756257;
    border: none; 
    border-radius: 4px;
}

.button-text {
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.searcing-button {
    width: 575px;
    height: 30px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 312px;
    border: none;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 17px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
 } 
.container-dark-blue {
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.advantages-item-dark-blue {
    color:#FFFFFF;;
    background: #83B3D3;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-blue {
    background: rgba(131, 179, 211, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.bottom-adv {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.adventages-numb {
    padding-bottom: 4px;
}

.first-advantages-list {
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

.advantages-item-light-blue {
    Width: 400px;
    color: #242424;
    background: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.advantages-item-white {
    Width: 400px;
    color: #242424;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-living {
    width: 75px;
    margin-left: 163px;
    margin-top: 89px;
}

.icon-food {
    width: 74px;
    margin-left: 163px;
    margin-top: 91px;
}

.icon-souvenir {
    width: 64px;
    margin-left: 168px;
    margin-top: 85px;
}

.first-screen-img {
    margin-top: 51px;
    margin-left: 371px;
    margin-bottom: 82px;
}

.hotel-card-link {
    background-color: #FFFFFF;
}

.sorting-item {
    background-color: #FFFFFF;
}

.searching-title {
    width: 720px;
    margin: 0;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;
    margin-left: 240px;
}
.desc {
    width: 720px;
    margin-top: 15px;
    margin-bottom: 73px;
    margin-left: 240px;
}


.searching-text {
    padding-top: 91px;
    padding-bottom: 91px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mailing-title {
    width: 720px;   
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;
    margin: 0;
    margin-top: 89px;
    margin-left: 240px;
}

.mailing-desc {
    width: 720px;
    padding-bottom: 31px;
    margin-top: 15px;
    margin-bottom: 26px;
    margin-left: 240px;
}

.appointment-form-mail {
    width: 600px;
    margin:0;
    background: #F2F2F2;
}

.subscribe {
    width: 200px;
    height: 61px;
    line-height: 26px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.first-screen {
    background-image: url("../image/vector.svg"),
    url("../image/background/background-1.jpg");
    background-position: left 0px top 428px, top;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
  }

.description-first {
    background-color: #FFFFFF;
}

.description-first{
    padding-top: 63px;
}

.first-screen-title{
    margin: 0;
    color:#000000;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.first-screen-text {
    color: #333333;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 79px;
}

.advantages-description {
    width: 220px;
    padding-bottom: 11px;
    margin-left: 90px;
    margin-top: 26px;
    margin-bottom: 77px;

}


.advantages-title{
    color: #FFFFFF;;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-top: 98px;
    margin-bottom: 25px;
}

.advantages-title-desc {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 20px;
}

.advantages-desc {
    width: 250px;
    margin: 0;
    padding-bottom: 11px;
    margin-left: 75px;
    margin-bottom: 79px;
}

.bottom-text {
    margin-top: 26px;
    padding-bottom: 32px;
    margin-bottom: 77px;
}

.bottom-title {
    margin-top: 98px;
    margin-bottom: 25px;
    padding-bottom: 4px;
}

.number-academy {
    color:#000000;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-number {
    width: 720px;
    height: 50px;
    text-align: center;
}

.footer-social-link {
    width: 20px;
    height: 18px;
    margin-right: 29px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-footer-container {
    display: flex;
    padding-top: 40px;
}
.footer-social {
    width: 107px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 61px;
    margin-left: 72px;
}

.footer-academy-link {
    margin-left: auto;
    width: 115px;
  }

.catalog-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    color: #FFFFFF;
    background-color: blue;
    background-image: url("../image/background/catalog-background.png") ;
        background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-filter-title {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight:700;
}

.main-inner {
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #242424;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    font-weight:400;
    text-transform: none;
    width: 1200px;
}

.hotel-desc {
    margin-left: 71px;
    margin-top: 31px;
}

.hotel-list {
    width: 1056px;
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}


.searching {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
}

.buildings {
    text-align: start;
    padding: 0;
    margin-left: 71px;
    margin-top: 45px;
    margin-bottom: 83px;
    border: none;
    list-style-type: none;
}


.living {
    width: 190px;
    padding: 0;
    margin-left: 67px;
    margin-bottom: 83px;
    border: none;
}

.catalog-filter-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    row-gap: 13px;
    margin-bottom: 0;
}

.sorting {
    width: 287px;
    margin-left: 167px;
    margin-bottom: 83px;
    border: none;
}

.button-accept {
    margin-left: 81px;
    margin-bottom: 20px;
    border: none; 
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height:21px;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-reset {
    border: none; 
    background-color: transparent;
    margin-left: 81px;
    margin-bottom: 83px;
    width: 160px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height:24px;
    text-transform: none;
}


.sorting-type {
    margin-top: 50px;
    display: flex;
}

.sorting-select-control {
    margin-left: 192px;
    height: 47px;
    width: 287px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.catalog-subject {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 78px;
    font-weight:700;
    text-transform: none;
    height: 68px;
    margin-top: 35px;
    margin-left: 71px;
    margin-right: 601px;
    margin-bottom:0;
}

.breadcrumbs {  
    margin: 0 auto;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 73px;
    margin-top: 5px;
}
  
.breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
}

.sorting-hotel-number {
    color:#000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    width: 305px;
}

.sorting-hotel {
    color:#000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-card {
    Width: 1056px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top: 31px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
}

.hotel-card-description {
    width: 355px;
}


.hotel-card-title {
    color:#000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-transform: none;
    margin: 0;
    margin-left: 37px;
    margin-bottom: 1px;
}
.hotel-card-link {
    text-decoration: none;
}

.hotel-card-type-living{
    font-weight: 400;
    margin-left: 37px;
}

.hotel-card-price {
    font-weight: 400;
    margin-left: 78px;
    float: right;
    margin-right: 82px;
}

.sorting-container {
    width: 1056px;
    margin-left: 72px;
    display: flex;
    color: #242424;
    background-color: #FFFFFF;;
    text-decoration: none;
    padding-bottom: 45px;
    border-bottom: 1px solid #E6E6E6;
}

.sorting-list {
    color:#242424;
    background-color: #FFFFFF;
    list-style-type: none;
}

.hotel-rating{
    color:#242424;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    margin-left: 361px;
    margin-top: 82px;
    background: #F2F2F2;
    border-radius: 4px;
    width: 160px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 9px;
    height: 18px;
}

.mailing {
    display: flex;
    flex-direction: column;
    color:#242424;
    background-color:#FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 138px;
}

.mailing-bg { 
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    background-color:#242424;
    background-image: url("../image/background/background-2.jpg");
    background-repeat: no-repeat;
    padding-bottom: 94px;
} 

.posting {
    width: 800px;
    margin-left: 200px;
    display:flex;
    border-radius: 0px 10px 10px 0px;
    background: #F2F2F2;
}


.posting-mail {
    width: 559px;
    height: 60px;
    border: 0;
    padding: 0;
    background: #F2F2F2;
}

.pagination {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding-top: 31px;
    border-top: 1px solid #E6E6E6;
}

.pagination-list {
    display: flex;
    column-gap: 8px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    width: 55px;
    height: 55px;
}
  
.pagination-link {
    display: block;
    box-sizing: border-box;
    padding: 14px 22px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-show-more {
    width: 625px;
    height:55px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #83B3D3;
    margin-left: 217px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
}

.last-page {
    padding-left: 18px;
}

.page-amount {
    margin-top: 16px;
    margin-left: 302px;
}

.page-amount-number {
    margin-left: 51px;
    margin-top:3px;
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}
  
.pagination-current {
    color: #242424; 
    background-color: #F2F2F2;
}
  
.pagination-disabled {
    background-color: #595959;
}
