@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.page-main {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase; 
}

.hotel-button {
    font-size: 16px;
    background-color:#756257;
}

.hotel-card-button {
    font-size: 16px;
}

.hotel-button-accept{
    background-color:#7DB54F;
    font-size: 16px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0;
}

.catalog-conainer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0;
}

.navigation {
    display: flex;
}

.navigation-list {
    width: 375px;
    list-style-type: none;
}

.navigation-link {
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.navigation-user {
    max-width: 250px;
    margin-left: auto;  
}

.place-button{
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    line-height: 31px;
    font-weight: 700;
    text-align: center;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

.searcing-button {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
 } 
.container-dark-blue {
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.advantages-item-dark-blue {
    color:#FFFFFF;;
    background: #83B3D3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.advantages-item-blue {
    background: rgba(131, 179, 211, 0.2);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 384px;
}

.bottom-adv {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.first-advantages-list {
    height: 384px;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

.advantages-item-light-blue {
    Width: 400px;
    height: 384px;
    color: #242424;
    background: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.advantages-item-white {
    Width: 400px;
    color: #242424;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.first-screen-img {
    margin-top: 51px;
    margin-left: 371px;
}

.hotel-card-link {
    background-color: #FFFFFF;
}

.sorting-item {
    background-color: #FFFFFF;
}

.searching-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.searching-text {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.mailing-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.first-screen {
    background-image: url("../image/vector.svg"),
    url("../image/background/background-1.jpg");
    background-position: 50% 75%, center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
  }

.description-first {
    background-color: #FFFFFF;
}

.first-screen-title{
    color:#000000;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.first-screen-text {
    color: #333333;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-description {
    align-items: center;
}

.advantages-title{
    color: #FFFFFF;;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-title-desc {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.number-academy {
    color:#000000;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-number {
    width: 720px;
    text-align: center;
}

.page-footer-container {
    display: flex;
}
.footer-social {
    width: 107px;
    margin-right: 61px;
}

.footer-academy-link {
    margin-left: auto;
    width: 115px;
  }

.catalog-container {
    color: #FFFFFF;
    background-color: blue;
    background-image: url("../image/background/catalog-background.png") ;
        background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-filter-title {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight:700;
}

.main-inner {
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #242424;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    font-weight:400;
    text-transform: none;
    width: 1200px;
}

.hotel-desc {
    margin-left: 71px;
}

.hotel-list {
    list-style-type: none;
}

.catalog-filter-list {
    list-style-type: none;
}

.searching {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
}

.buildings {
    text-align: start;
    margin-left: 71px;
    margin-top: 45px;
    margin-bottom: 83px;
}

.living {
    width: 144px;
    text-align: start;
    margin-left: 67px;
    margin-bottom: 83px;
}

.sorting {
    width: 287px;
    margin-left: 167px;
    margin-bottom: 83px;
}

.button-accept {
    margin-left: 81px;
    margin-bottom: 20px;
}

.button-reset {
    border: 0; 
    background-color: transparent;
    margin-left: 81px;
    margin-bottom: 83px;
}

.sorting-container {
    display: flex;
}

.sorting-type {
    width: 337px;
    margin-left: 71px; 

}

.sorting-select-control {
    margin-left: 192px;
}
.sorting-list {
    margin-left: 582px;
}
.catalog-subject {
    margin-top: 35px;
    margin-left: 71px;
    margin-right: 601px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 60px;
    line-height: 78px;
    font-weight:700;
    text-transform: none;
}

.breadcrumbs {  
    margin: 0 auto;
    color: #FFFFFF;
    list-style-type: none;
    display: row;
    margin-left: 35px;
}
  
.breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
}

.sorting-hotel-number {
    color:#000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}
.sorting-hotel {
    color:#000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-card {
    Width: 1056px;
}


.hotel-card-title {
    color:#000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-transform: none;
}
.hotel-card-link {
    text-decoration: none;
}

.hotel-card-type-living{
    font-weight: 400;
}

.hotel-card-price {
    font-weight: 400;
}

.sorting-container {
    color: #242424;
    background-color: #FFFFFF;;
    text-decoration: none;
}

.sorting-list {
    color:#242424;
    background-color: #FFFFFF;;
}

.hotel-rating{
    color:#242424;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.mailing {
    display: flex;
    flex-direction: column;
    color:#242424;
    background-color:#FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.mailing-bg { 
    align-items:center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    background-color:#242424;
    background-image: url("../image/background/background-2.jpg");
    background-repeat: no-repeat;
} 

.pagination {
    background-color: #FFFFFF;
}
  
.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}
  
.pagination-current {
    color: #242424; 
    background-color: #F2F2F2;
}
  
.pagination-disabled {
    background-color: #595959;
}
